.note {
  display: flex;
  align-items: center;
  gap: var(--gap-m);
}

.button-icon {
  background-color: var(--white-color);
  border: var(--white-color);
  cursor: pointer;
  padding: 0;
}

.text--p {
  font-size: var(--text-p-size);
}

