.notes {
  display: flex;
  flex-direction: column;
  gap: var(--gap-xl);

  &__editing-block {
    display: flex;
    flex-direction: column;
    gap: var(--gap-l);
  }

  &__list-block {
    display: flex;
    flex-direction: column;
    gap: var(--gap-m);
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: var(--gap-m);
  }
}

.text--h1 {
  font-size: var(--text-h1-size);
  font-weight: var(--text-h1-weight);
}

.text--p {
  font-size: var(--text-p-size);
}

.button {
  background-color: var(--button-background-color);
  color: var(--button-color);
  border: var(--button-color) solid 1px;
  border-radius: var(--button-border-radius);
  height: var(--button-height);
  width: var(--button-width);
  cursor: pointer;

  &:hover {
    color: var(--button-hover-color);
    border-color: var(--button-hover-color);
  }

  &:disabled {
    color: var(--button-disabled-color);
    border-color: var(--button-disabled-color);
    cursor: default;
  }
}
