.create-note {
  display: flex;
  gap: var(--gap-s);
}

.button-icon {
  background-color: var(--button-background-color);
  border: var(--button-icon-border);
  cursor: pointer;
  padding: 0;
}

.input {
  height: var(--input-height);
  width: var(--input-width);
}
