:root {
  --primary-color: #526ed3;
  --primary-color-hover: #889ee8;
  --disabled-color: #dadff3;
  --white-color: #fff;

  --button-background-color: var(--white-color);
  --button-color: var(--primary-color);
  --button-hover-color: var(--primary-color-hover);
  --button-disabled-color: var(--disabled-color);

  --button-icon-background: var(--white-color);
  --button-icon-border: var(--white-color);

  --button-height: 44px;
  --button-width: 150px;
  --button-border-radius: 2px;

  --input-height: 27px;
  --input-width: 150px;

  --main-width: 500px;
  --main-margin: 40px 0 0 50px;

  --gap-s: 6px;
  --gap-m: 12px;
  --gap-l: 16px;
  --gap-xl: 32px;

  --text-h1-size: 36px;
  --text-h1-weight: bold;
  --text-p-size: 19px;
}
